* { margin: 0; padding: 0; }
@media screen and (orientation: landscape) {
  html {
    -webkit-text-size-adjust:none;
  }
}
#container {
  overflow: hidden;
}
.ui_panel {
  z-index: 500;
}
.ui_panel ul.ui_panel_content {
  list-style: none;
}
.ui_panel.orientation_horizontal ul.ui_panel_content li {
  display: inline-block;
}
.ui_panel.ui_panel_collapsible {
  background: #333;
  color: white;
  position: relative;
  border: 1px solid black;
}
.ui_panel.ui_panel_collapsible.ui_panel_type_slideout.orientation_vertical.attach_left {
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-left: 0;
}
.ui_panel.ui_panel_collapsible.ui_panel_type_slideout.orientation_vertical.attach_right {
  -moz-border-radius: 10px 0 0 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-right: 0;
}
.ui_panel.ui_panel_collapsible.ui_panel_type_slideout.attach_top {
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
}
.ui_panel.ui_panel_collapsible.ui_panel_type_slideout.attach_bottom {
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
}
.ui_panel .ui_panel_handle {
  background: #333;
  color: #aaa;
  border: 1px solid #333;
  text-align: center;
  cursor: pointer;
}
.ui_panel.ui_panel_type_slideout .ui_panel_handle {
  position: absolute;
}
.ui_panel_type_slideout.attach_left .ui_panel_handle {
  right: -2em;
  width: 2em;
  top: 50%;
  margin-top: -2em;
  height: 4em;
  border-left: 0;
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  line-height: 3.8em;
}
.ui_panel_type_slideout.attach_left.orientation_horizontal .ui_panel_handle,
.ui_panel_type_slideout.attach_right.orientation_horizontal .ui_panel_handle {
  height: 100%;
  top: -1px;
  bottom: 0;
  display: inline-block;
  margin-top: 0;
  line-height: 1.6em;
  vertical-align: middle;
  width: 4em;
  border-right: 0;
}
.ui_panel_type_slideout.attach_left.orientation_horizontal .ui_panel_handle {
  right: -4em;
}
.ui_panel_type_slideout.attach_right.orientation_horizontal .ui_panel_handle {
  left: -4em;
}
.ui_panel_type_slideout.attach_right .ui_panel_handle {
  left: -2em;
  width: 2em;
  top: 50%;
  margin-top: -2em;
  height: 4em;
  max-height: 100%;
  border-right: 0;
  -moz-border-radius: 10px 0 0 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  line-height: 3.8em;
}
.ui_panel_type_slideout.attach_bottom .ui_panel_handle {
  top: -2em;
  height: 2em;
  left: 50%;
  margin-left: -2em;
  width: 4em;
  max-width: 100%;
  border-bottom: 0;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  line-height: 1.8em;
}
.ui_panel_type_slideout.attach_top .ui_panel_handle {
  bottom: -2em;
  height: 2em;
  left: 50%;
  margin-left: -2em;
  width: 4em;
  max-width: 100%;
  border-top: 0;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  line-height: 1.8em;
}

.ui_panel .ui_panel_item_button {
  text-align: center;
  background: #aaf;
  border: 1px solid black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: black;
  margin: .2em;
  padding: 0 .4em;
  xopacity: 0.6;
  cursor: pointer;
}
.ui_panel .ui_panel_item_button a {
  text-decoration: none;
  color: black;
  display: block;
}
.ui_panel .ui_panel_item_button.status_active {
  background: #afa;
}

.ui_panel_slidein.attach_left {
  padding-left: 0;
}
.ui_panel_slidein.attach_left .ui_panel_handle {
  left: 0;
  width: 2em;
  top: 50%;
  margin-top: -2em;
  height: 4em;
  border-left: 0;
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  xline-height: 3.8em;
}

.ui_panel.ui_panel_slidein {
  padding-left: 2em;
}

.ui_panel.ui_panel_slidein .ui_panel_handle {
  top: -1px;
  bottom: 0;
  height: 100%;
  margin-top: 0;
  width: auto;
  vertical-align: middle;
  float: left;
}

.ui_clear_after {
  xheight: 1%;
}
.ui_clear_after:after {
  height: 0;
  display: block;
  clear: both;
  content: '.';
  visibility: hidden;
}

.size_huge {
  font-size: 2em;
}
.size_extralarge {
  font-size: 1.8em;
}
.size_large {
  font-size: 1.4em;
}
.size_normal {
  font-size: 1em;
}
.size_small {
  font-size: .8em;
}

.ui_scrollable.orientation_horizontal {
  overflow-x: auto;
  overflow-y: none;
  -moz-user-select: -moz-none;
}
.ui_scrollable.orientation_vertical {
  overflow-y: auto;
  -moz-user-select: -moz-none;
}
.error {
  color: #E00;
}
.success {
  color: #0E0;
}
elation\:args {
  display: none;
}

