.ui_accordion {
}
.ui_accordion>ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ui_accordion>ul>li {
}
.ui_accordion>ul>li>.ui_accordion_title {
  display: block;
  cursor: pointer;
}
.ui_accordion>ul>li>.ui_accordion_title:hover {
}
.ui_accordion>ul>li>.ui_accordion_content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  box-sizing: border-box;
}
.ui_accordion>ul>li.state_animating>.ui_accordion_content {
  -webkit-transition: max-height 100ms ease-out, opacity 100ms ease-out;
  -moz-transition: max-height 100ms ease-out, opacity 100ms ease-out;
}
.ui_accordion>ul>li.state_open>.ui_accordion_content {
  margin-bottom: 0;
  max-height: none;
  opacity: 1.0;
}
