.ui_button {
  cursor: pointer;
  -webkit-user-select: none;
}
.ui_button_sprite_twostate_hover,
.ui_button_sprite_twostate_active,
.ui_button_sprite_threestate {
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  border-radius: 0;
}
.ui_button_sprite_twostate_hover:hover {
  background-position: 100% 0;
  border: none;
}
.ui_button_sprite_threestate:hover {
  background-position: 50% 0;
  border: none;
}
.ui_button_sprite_twostate_active:active,
.ui_button_sprite_threestate:active {
  background-position: 100% 0;
  border: none;
}
