.ui_grid {
  list-style: none;
}
.ui_grid>.ui_list_item {
  float: left;
}
.ui_grid:after {
  content: ' ';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.ui_grid>.ui_list_item:hover {
  background: rgba(0,0,0,.1);
}
