.ui_indicator {
  display: inline-block;
  width: .5em;
  height: .5em;
  vertical-align: middle;
  background: #1e1;
  border: 1px solid black;
  border-radius: .5em;
  float: right;
  margin-top: .3em;
  box-shadow: 0 0 .5em rgba(0,0,0,.8);
  cursor: pointer;
}
.ui_indicator.state_desync {
  background: red;
}

