.ui_list {
  list-style: none;
  -webkit-perspective: 400px;
  -moz-perspective: 400px;
  perspective: 400px;
  position: relative;
  overflow: auto;
}
.ui_list>.ui_list_item {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: relative;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid transparent;
}
.ui_list.state_selectable>.ui_list_item {
  cursor: pointer;
}
.ui_list>.ui_list_item.state_animating {
  -webkit-transition: -webkit-transform 250ms linear;
  transition: all 250ms linear;
}
.ui_list>.ui_list_item.state_lastselected {
  border: 1px dotted #999;
}
.ui_list.orientation_horizontal>.ui_list_item {
  display: inline-block;
}


/* default theme */
.ui_list {
}
.ui_list>.ui_list_item {
}
.ui_list>.ui_list_item:hover {
}
.ui_list>.ui_list_item.state_selected {
}

