.ui_list>ul {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-perspective: 400px;
  -moz-perspective: 400px;
  perspective: 400px;
}
.ui_list>ul>li {
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: relative;
}
.ui_list.orientation_inline>ul>li {
  display: inline-block;
}
.ui_list>ul>li.state_animating {
  -webkit-transition: -webkit-transform 250ms linear;
  transition: all 250ms linear;
}
