.ui_panel {
}
.ui_panel.orientation_horizontal {
}
.ui_panel.orientation_horizontal>* {
  display: inline-block;
  vertical-align: top;
}
.ui_panel.orientation_float>* {
  display: block;
  vertical-align: top;
  float: left;
}
.ui_panel.orientation_float::after {
  display: 'block';
  height: 0;
  visibility: hidden;
  content: '.';
  clear: left;
}
