.ui_slider {
  white-space: nowrap; 
}
.ui_slider label {
  vertical-align: middle;
  margin-right: .5em;
  display: inline-block;
}
.ui_slider .ui_input {
  display: inline-block;
}
.ui_slider input.ui_input_element {
  width: 5em;
  margin-bottom: 1em;
}
.ui_slider_track {
  position: relative;
  width: 100%;
  height: .4em;
  background: white;
  box-shadow: 0 0 1px 1px #999 inset;
  border: 1px solid black;
  border-radius: .2em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  vertical-align: middle;
}
.ui_slider_handle {
  position: absolute;
}
.ui_slider_handle_grabber {
  position: absolute;
  top: .1em;
  width: 1em;
  height: 1em;
  background: #888;
  box-shadow: 0 0 0 1px #000 inset, 
              0 0 .5em 1px rgba(255,255,255,.5) inset, 
              1px 1px 2px 1px rgba(64,64,64,.5);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
