.ui_pegboard {
  white-space: nowrap; 
}
.ui_pegboard label {
  vertical-align: middle;
  margin-right: .5em;
  display: inline-block;
}
.ui_pegboard .ui_input {
  display: inline-block;
}
.ui_pegboard input.ui_input_element {
  width: 3em;
  margin-right: .2em;
}
.ui_range_track,
.ui_dots_track,
.ui_progressbar_track,
.ui_slider_track,
.ui_inputslider_track,
.ui_pegboard_track {
  position: relative;
  width: 100%;
  height: 10px;
  background: white;
  box-shadow: 1px 1px 2px rgba(0,0,0,.5) inset;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  vertical-align: middle;
  margin: 1em 0 .75em;
  display: inline-block;
}
.ui_pegboard_peg_display {
  margin-bottom: .5em;
}
.ui_pegboard_peg {
  position: absolute;
}
.ui_pegboard_peg_grabber {
  position: absolute;
  top: 4px;
  width: 20px;
  height: 20px;
  background: #aaa;
  box-shadow: 0 0 0 1px #000 inset, 0 0 .5em 1px rgba(255,255,255,.5) inset, 1px 1px 2px 1px rgba(64,64,64,.5);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.ui_pegboard_peg_grabber:hover {
  background: #BBB;
  z-index: 2;
}

.ui_slider .ui_pegboard_peg_display input {
  box-shadow: none;
  background: #fff;
  text-align: center;
  width: 100%;
  padding: 2px 2px 1px;
  box-shadow: 1px 1px 2px rgba(0,0,0,.5) inset;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  color: #333;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
.ui_slider:hover .ui_pegboard_peg_display,
.ui_slider.active .ui_pegboard_peg_display {
  top: -2em;
  opacity: 1;
}
.ui_slider .ui_pegboard_peg_display {
  position: absolute;
  top: 0;
  left: -1em;
  width: 2em;
  opacity: 0;
  transition: all 250ms ease;
}

.ui_range .ui_pegboard_peg_display {
  width: 50%;
  display: inline;
}
.ui_range input.ui_input_element {
  width: 5em;
  margin-right: .2em;
}
.ui_range.ui_range label {
  margin-right: 0.1em;
}
.ui_range .ui_range_track {
}
.ui_range .ui_pegboard_peg {
  top: 0;
  bottom: 0;
  background: rgba(100,100,100,.5);
  left: 0;
}
.ui_range #ui_range_price_peg_min {

}
.ui_range #ui_range_price_peg_max {
  right: 0;
}
.ui_range .ui_pegboard_peg_grabber {
  width: 1.2em;
  height: auto;
  top: -2px;
  bottom: -2px;
  border-radius: 3px;
  border: none;
  background: #bbb;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.ui_range #ui_range_price_peg_min .ui_pegboard_peg_grabber {
  right: 0;
}

.ui_dots #ui_dots_pagination_peg_indicator {
  z-index: 2;
}
.ui_dots #ui_dots_pagination_peg_indicator .ui_pegboard_peg_grabber {
  background: darkorange;
}
.ui_dots .ui_pegboard_peg_grabber {
  background: #fff;
  width: .8em;
  height: .8em;
  box-shadow: 1px 1px 0px 1px rgba(100,100,100,.75) inset;
}
.ui_dots .ui_dots_track {
  background: transparent;
  width: 90px;
  border: none;
  box-shadow: none;
  margin: 1em auto;
}

.ui_progressbar .ui_progressbar_track {
  height: 1.5em;
  border-radius: 3px;
  overflow: hidden;
}
.ui_progressbar input.ui_input_element,
.ui_progressbar .ui_pegboard_peg_display {
  color: #fff;
  font-weight: bold;
  text-shadow: -1px -1px 0 #555, 1px -1px 0 #555, -1px 1px 0 #555, 1px 1px 0 #555;
  font-size: .9em;
}
.ui_progressbar .ui_pegboard_peg_display {
  margin: .1em auto;
  width: 3em;
  z-index: 3;
  position: absolute;
  right: .2em;
}
.ui_progressbar input.ui_input_element {
  width: 2em;
  padding: 0em;
  background: transparent;
  display: inline;
  border: none;
  box-shadow: none;
  text-align: right;
  margin-top: .05em;
  vertical-align: middle;
  cursor: default;
}
.ui_progressbar .ui_pegboard_peg {
  top: 0;
  bottom: 0;
  background: rgba(0,64,196,.5);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAADklEQVQIW2NgQAXGZHAAGioAza6+Hk0AAAAASUVORK5CYII=);
  background-position: top right;
  left: 0;
  transition: all 333ms linear;
}
.ui_progressbar .ui_pegboard_peg_grabber {
  width: 1px;
  height: auto;
  right: 0;
  top: 0px;
  bottom: 0px;
  border-radius: 0;
  border: none;
  background: #000;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  cursor: default;
}

div.ui_inputslider_container {
  clear: both;
  height: 7.5em;
}
#colorsquare {
  width: 13em;
  height: 3em;
  float: left;
  margin-top: 0.5em;
  clear: both;
}
.ui_inputslider {
  width: 4em;
  margin-top: .5em;
  margin-right: .5em;
  display: inline-block;
  float: left;
}
.ui_inputslider .ui_inputslider_track {
  width: 100%;
  height: .5em;
  border-radius: 0;
  overflow: hidden;
  background: white;
  margin: 0;
  box-shadow: none;
  border: none;
  border-top: 1px solid #aaa;
}
.ui_inputslider .ui_pegboard_peg_display label {
  display: block;
  font-size: .8em;
  text-align: center;
  width: 100%;
  font-weight: bold;
}
.ui_inputslider .ui_pegboard_peg_display {
  margin: 0;
}
.ui_inputslider input.ui_input_element {
  font-size: 1.5em;
  width: 100%;
  border-radius: 0;
  left: 0;
  right: 0;
  position: relative;
  padding: 0;
  text-align: center;
  border-bottom: none;
}
.ui_inputslider .ui_pegboard_peg {
  top: 0;
  bottom: 0;
  background: rgba(0,64,196,.75);
  background-position: top right;
  left: 0;
}
.ui_inputslider .ui_pegboard_peg_grabber {
  width: 0px;
  height: auto;
  right: 0;
  top: 0px;
  bottom: 0px;
  border-radius: 0;
  border: none;
  box-shadow: none;
  background: #000;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  cursor: default;
}
