.ui_slider {
  white-space: nowrap; 
}
.ui_slider label {
  vertical-align: middle;
  margin-right: .5em;
  display: inline-block;
}
.ui_slider .ui_input {
  display: inline-block;
}
.ui_slider input.ui_input_element {
  width: 3em;
  margin-right: .2em;
}
.ui_slider_track {
  position: relative;
  width: 100%;
  height: .5em;
  background: white;
  box-shadow: 0 0 1px 1px #888 inset;
  border: 1px solid black;
  border-radius: .3em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  vertical-align: middle;
  margin: 1em 0 .75em;
}
.ui_slider_handle_display {
  margin-bottom: .5em;
}
.ui_slider_handle {
  position: absolute;
}
.ui_slider_handle_grabber {
  position: absolute;
  top: .2em;
  width: 1.5em;
  height: 1.5em;
  background: #888;
  box-shadow: 0 0 0 1px #000 inset, 0 0 .5em 1px rgba(255,255,255,.5) inset, 1px 1px 2px 1px rgba(64,64,64,.5);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.ui_slider_handle_grabber:hover {
  background: #999;
}
#ui_slider_handle_handle_one .ui_slider_handle_grabber {
  background: #0C0;
  width: .3em;
  box-shadow: 0 0 0 1px #000 inset, 1px 1px 2px 1px rgba(64,64,64,.5);
  border-radius: none;
  z-index: 1;
}
#ui_slider_handle_handle_two .ui_slider_handle_grabber {
  background: #0C0;
  width: .3em;
  box-shadow: 0 0 0 1px #000 inset, 1px 1px 2px 1px rgba(64,64,64,.5);
  border-radius: none;
  z-index: 1;
}
#ui_slider_handle_handle_indicator .ui_slider_handle_grabber {
  background: transparent;
  box-shadow: 0 0 0 1px #000 inset, 0 0 .5em 1px rgba(255,255,255,.5) inset, 0 0 0 12px #888 inset;
  border: 15px solid rgba(1,1,1,0);
}
#ui_slider_handle_handle_indicator .ui_slider_handle_grabber:hover {
  box-shadow: 0 0 0 1px #000 inset, 0 0 .5em 1px rgba(255,255,255,.5) inset, 0 0 0 12px #aaa inset;
}