.ui_tabs>ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
}
.ui_tabs>ul>li {
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
}
.ui_tabs>ul>li:first-child {
}
.ui_tabs>ul>li:last-child {
}
.ui_tabs>ul>li.state_hover {
}
.ui_tabs>ul>li.state_selected {
}

.ui_tabs>ul>li {
}
.ui_tabs>ul>li.state_hover {
}
.ui_tabs>ul>li.state_selected {
}
.ui_tabs>ul>li.state_disabled {
}

.ui_contentlist li.ui_contentlist_item.state_selected {
	display: block;
}
.ui_contentlist_item {
	display: none;
	opacity: 1;
	transition: transform 200ms ease, opacity 200ms ease;
	-webkit-transform: scale(1,1) translate3d(0,0,0);
	-moz-transform: scale(1,1) translate3d(0,0,0);
	transform: scale(1,1) translate3d(0,0,0);
}