.ui_tabs>ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
}
.ui_tabs>ul>li {
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
}
.ui_tabs>ul>li:first-child {
}
.ui_tabs>ul>li:last-child {
}
.ui_tabs>ul>li.state_hover {
}
.ui_tabs>ul>li.state_selected {
}

.ui_tabs>ul>li {
}
.ui_tabs>ul>li.state_hover {
}
.ui_tabs>ul>li.state_selected {
}
