.ui_tabs>ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.ui_tabs>ul>li {
  display: inline-block;
  border: 1px solid black; 
  border-right: none; 
  min-width: 5em;
  text-align: center;
  cursor: pointer;
}
.ui_tabs>ul>li:first-child {
  border-radius: 5px 0 0 5px;
}
.ui_tabs>ul>li:last-child {
  border-right: 1px solid black;
  border-radius: 0 5px 5px 0;
}
.ui_tabs>ul>li.state_hover {
  background: #ffa;
}
.ui_tabs>ul>li.state_selected {
  background: #afa;
}

.ui_tabs>ul>li {
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.8) 66%, rgba(64,64,64,.5) 98%);
  color: white;
}
.ui_tabs>ul>li.state_hover {
  background-image: -webkit-linear-gradient(bottom, rgba(16,16,16,.8) 66%, rgba(128,128,128,.5) 98%);
  background-color: transparent;
}
.ui_tabs>ul>li.state_selected {
  background-image: -webkit-linear-gradient(bottom, rgba(16,64,16,.8) 66%, rgba(128,200,128,.5) 98%);
  background-color: transparent;
}
