.ui_treeview {
/*
  background: black;
  color: white;
*/
}
.ui_treeview ul {
  /*background: rgba(0,0,0,.8);*/
  list-style: none;
  border-left: 0.15em dotted #999;
  margin: 0 0 0 .3em;
  padding-left: .8em;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
}
.ui_treeview>ul {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}
.ui_treeview ul li {
  position: relative;
  white-space: nowrap;
  /*max-height: 1.2em;*/
  overflow: hidden;
}
.ui_treeview ul li.state_selected, 
.ui_treeview ul li.state_hover li.state_selected {
  max-height: none;
}
.ui_treeview ul li:before {
  content: '├';
  display: inline-block;
  float: left;
  clear: left;
  padding-right: .5em;
}
.ui_treeview ul li:last-child>ul {
  border-left: 0;
}
.ui_treeview>ul>li:first-child:last-child:before {
  content: '-';
}
/*
.ui_treeview ul li.state_disabled:before,
.ui_treeview ul li.state_disabled,
.ui_treeview ul li.state_hover li.state_disabled,
.ui_treeview ul li.state_selected li.state_disabled {
  color: #666;
}
.ui_treeview ul li.state_hover,
.ui_treeview ul li.state_selected li.state_hover {
  color: yellow;
  background: rgba(1,1,0,.5);
}
.ui_treeview ul li.state_hover:before,
.ui_treeview ul li.state_selected li.state_hover:before {
  color: white;
}
.ui_treeview ul li.state_selected,
.ui_treeview ul li.state_hover li.state_selected {
  color: red;
}
.ui_treeview ul li.state_hover li,
.ui_treeview ul li.state_selected li {
  color: white;
  background: transparent;
}
*/
.ui_treeview ul li:last-child:before {
  content: '└';
}
.ui_treeview>ul>li:first-child:before {
  content: '┌';
}

