.ui_examples {
  list-style: none;
  margin: 1em;
  padding: 0;
}
.ui_examples>li {
  width: 45%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  margin-right: 1em;
  margin-bottom: 2em;
}
.ui_examples>li>h2 {
  border-bottom: 1px solid #111;
  margin-bottom: .5em;
  font-weight: normal;
  font-size: 1.5em;
}
.ui_examples textarea {
  width: 100%;
  background: transparent;
  border: none;
  color: white;
}
@media all and (max-width: 640px) {
  .ui_examples>li {
    display: block;
    width: auto;
  }
}