/*
body {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
*/
.ui_window {
  position: fixed;
  top: 0;
  left: 0;
  vertical-align: top;
  z-index: 5;
  border: 1px solid black;
  background: white;
}
.ui_window .ui_window_titlebar {
  position: relative;
  cursor: default;
  -webkit-user-select: none;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
}
.ui_window.state_active {
  /*z-index: 100;*/
}
.ui_window:hover .ui_window_titlebar {
}
.ui_window.state_active .ui_window_titlebar {
}
.ui_window.state_movable .ui_window_titlebar:hover {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
.ui_window.state_movable .ui_window_titlebar.state_dragging {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}
.ui_window .ui_window_controls {
  display: inline-block;
  float: right;
  vertical-align: middle;
  position: relative;
  z-index: 5;
}
/*
.ui_window .ui_window_controls button {
  padding: 0;
  margin: 0 .1em;
  line-height: 1.2em;
  width: 1.2em;
  font-size: .8em;
  border: 0;
  border-radius: 2px;
  vertical-align: middle;
  cursor: pointer;
}
*/
.ui_window .ui_window_resizer {
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 16px;
  height: 16px;
  cursor: se-resize;
  border-bottom: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-radius: 0 0 5px 0;
  z-index: 10;
}
.ui_window .ui_window_content {
  overflow: auto;
  min-width: 100%;
  padding: .5em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
}
.ui_window.state_maximized {
  z-index: 1000;
  border-width: 0;
  border-radius: 0;
}
.ui_window.state_maximized .ui_window_content{
  max-width: none;
  max-height: none;
  padding: 0;
}
.ui_window.state_minimized {
/*
  position: fixed;
  top: auto;
  right: auto;
*/
  cursor: pointer;
}
.ui_window.ui_window_withcontrols .ui_window_titlebar {
  /*padding-right: 4.5em;*/
}
/*
.ui_window.state_minimized .ui_window_content {
  display: none;
}
*/
.ui_window.state_animate {
}

/* custom scrollbars */
.ui_window .ui_window_content::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
 
.ui_window .ui_window_content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background: #333;
}
.ui_window .ui_window_content::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 0 0 6px rgba(218,165,32,0.3);
}
 
.ui_window .ui_window_content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  background: #999;
}

.ui_window.orientation_topleft {
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
}
.ui_window.orientation_topright {
  top: 0;
  bottom: auto;
  left: auto;
  right: 0;
}
.ui_window.orientation_bottomleft {
  top: auto;
  bottom: 0;
  left: 0;
  right: auto;
}
.ui_window.orientation_bottomright {
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}
