[submodule "components/deepzoom"]
	path = components/deepzoom
	url = https://github.com/jbaicoianu/elation-component-deepzoom.git
[submodule "components/games"]
	path = components/games
	url = https://github.com/jbaicoianu/elation-component-games.git
[submodule "components/space"]
	path = components/space
	url = https://github.com/jbaicoianu/elation-component-space.git
[submodule "components/filehost"]
	path = components/filehost
	url = https://github.com/jbaicoianu/elation-filehost.git
[submodule "components/engine"]
	path = components/engine
	url = https://github.com/jbaicoianu/elation-engine.git
[submodule "components/physics"]
	path = components/physics
	url = https://github.com/jbaicoianu/cyclone-physics-js.git
[submodule "components/vrcade"]
	path = components/vrcade
    url = https://github.com/jbaicoianu/elation-vrcade.git
[submodule "components/share"]
	path = components/share
	url = https://github.com/jbaicoianu/elation-share.git
