[submodule "components/deepzoom"]
	path = components/deepzoom
	url = git://github.com/jbaicoianu/elation-component-deepzoom.git
[submodule "components/games"]
	path = components/games
	url = git://github.com/jbaicoianu/elation-component-games.git
[submodule "components/gamess"]
	path = components/gamess
	url = git://github.com/jbaicoianu/elation-component-games.git
