.tf_page_ad_search h6 {
  font-style: normal;
  font-weight: normal;
  font-size: .9em;
  color: #afafaf;
  display: block;
  margin-bottom: .3em;
}
.tf_page_ad_search a {
  /* display: block; */
}
.tf_page_ad_search a, .tf_page_ad_search a:hover {
  color: black;
  text-decoration: none;
}
.tf_page_ad_search strong {
  /* display: block; */
  font-size: 1em;
  color: #175886;
  text-decoration: underline;
}
.tf_page_ad_search span {
  /* display: block; */
  font-size: .9em;
  color: black;
}
.tf_page_ad_search em {
  /* display: block; */
  font-weight: normal;
  font-style: normal;
  color: #138b2c;
}
#tf_page_ad_content_bottom {
  margin-left: .5em;
  margin-left: 4em;
}
#tf_page_ad_content_bottom ul.tf_util_list_vertical, #tf_page_ad_subheader_bottom ul.tf_util_list_vertical {
  list-style: none;
}
#tf_page_ad_content_bottom ul.tf_util_list_vertical li, #tf_page_ad_subheader_bottom ul.tf_util_list_vertical li {
  padding-bottom: 1em;
}
#tf_page_ad_content_bottom.tf_page_ad_search span, #tf_page_ad_subheader_bottom.tf_page_ad_search span {
  padding-left: 0;
}
#tf_page_ad_content_bottom.tf_page_ad_search em, #tf_page_ad_subheader_bottom.tf_page_ad_search em {
  font-size: 1.1em;
}
#tf_page_ad_subheader_bottom {
  margin-left: 1.2em;
}
.tf_page_ad_leaderboard {
  text-align: center;
}
#tf_page_ad_results_top.tf_page_ad_rectangle {
  height: 22.3em;
  float: right;
  text-align: center;
  padding-right: 3em;
}
#tf_page_ad_results_top.tf_page_ad_cpc,
#tf_page_ad_results_bottom.tf_page_ad_cpc {
  /* this seems really important, but when I take it out I don't see any adverse effects and it's causing a bug in ie7 with the sponsored cards in list view.  I'm taking it out for now but leaving this note, just in case */
  /* float: left; */
}
.tf_layout_column_right .tf_page_ad_search {
  padding-left: .5em;
}
.tf_layout_column_right .tf_page_ad_search ul li {
  margin-bottom: 2em;
}
.tf_layout_column_right .tf_page_ad_rectangle {
  margin: 0;/*1em 0; -lazarus */
}
.tf_layout_column_right .tf_page_ad_search br {
  display: none;
}
.tf_layout_column_right .tf_page_ad_search h6 {
  color: black;
}
.tf_layout_column_right .tf_page_ad_search span {
  display: block;
  padding: .5em 0;
}
.tf_ad_announcment {
  font-size: .8em;
  text-align: right;
  color: #c6adc6;
}
#tf_container_inner .tf_page_ad_search.tf_page_ad_oneline ul.tf_util_list_vertical {
  margin: 0;
  list-style: none;
}
.tf_page_ad_search.tf_page_ad_oneline br {
  display: none;
}
.tf_page_ad_search.tf_page_ad_oneline strong {
  font-size: 1.2em;
  padding-right: .5em;
}
#tf_container_inner .tf_page_ad_search.tf_page_ad_oneline em  {
  font-size: 1em;
  font-weight: bold;
  padding-left: .5em;
}
#tf_page_ad_right_top {
  margin-bottom: 1em;
}
#tf_page_ad_right_middle {
  margin-top: 2em;
  margin-bottom: 1em;
}
#tf_page_ad_right_bottom {
  margin-top: 2em;
}
.tf_downloadmobile_top {
  padding: .5em .5em 1.5em;
}
.tf_downloadmobile_top h2 {
  color: #333;
}
.tf_downloadmobile_top p {
  color: #666;
  margin-top: .5em;
}
.tf_downloadmobile_top img {
  margin: 1.5em 1.5em 0 0;
}
