#audio {
  padding: 1em 0em 1em 3.5em;
}
#audio .audio_nowplaying {
  padding: .5em;
  height: 2.5em;
}
#audio_playlist_list {
  list-style: none;
  height: 18em;
}
#audio_playlist_list li {
  float: left;
  xmargin: .5em;
  padding: .5em;
  width: 12em;
  position: relative;
  z-index: 0;
}
#audio_playlist_list li a {
  padding: 0.8em 0 1.8em 0;
  position: relative;
  z-index: 10;
}
#audio_playlist_list li p.audio_playlist_lastlistened {
  font-size: 0.8em;
  position: absolute;
  width: 100%;
  bottom: .5em;
  text-align: center;
  z-index: 1;
}
