/* Loosely based on http://bootswatch.com/slate/ */

.dark  {
  margin: 0;
  padding: 0;
  color: #c8c8c8;
  background: #303030 url(/images/elation/background-dark.png);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.dark #container {
  margin: 0 auto;
  position: relative;
  /*padding: 1em 2em;*/
}
.dark h1, .dark h2, .dark h3, .dark h4, .dark h5 {
  color: white;
}
.dark a {
  color: white;
  text-decoration: underline;
}

/*
 * ui.button 
 */
.dark .ui_button {
  border: 1px solid transparent;
  border-radius: .5em;
  padding: .25em .5em;
  color: white;

  background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-repeat: no-repeat;
  background-color: transparent;
}
.dark .ui_button:hover {
  background-image: -webkit-linear-gradient(#020202, #101112 40%, #191b1d);
  background-image: -o-linear-gradient(#020202, #101112 40%, #191b1d);
  background-image: linear-gradient(#020202, #101112 40%, #191b1d);
  background-repeat: no-repeat;
}
.dark .ui_button:active,
.dark .ui_button.state_active {
  background-image: -webkit-linear-gradient(#020202, #101112 40%, #191b1d);
  background-image: -o-linear-gradient(#020202, #101112 40%, #191b1d);
  background-image: linear-gradient(#020202, #101112 40%, #191b1d);
  background-repeat: no-repeat;
}
.dark .ui_button:disabled,
.dark .ui_button:disabled:hover {
  color: #999;
  background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
}

/*
 * ui.buttonbar
 */
.dark .ui_buttonbar>.ui_button {
  border-radius: 0;
  border-right: 1px solid #333;
  border-left: 0;
}
.dark .ui_buttonbar>.ui_button:first-of-type {
  border-radius: .5em 0 0 .5em;
  border-left: 1px solid transparent;
}
.dark .ui_buttonbar>.ui_button:last-of-type {
  border-radius: 0 .5em .5em 0;
  border-right: 1px solid transparent;
}

/*
 * ui.accordion
 */
.dark .ui_accordion {
}
.dark .ui_accordion>ul>li>.ui_accordion_title {
  margin: 0;
  background-image: linear-gradient(rgba(128,128,128,.15), rgba(128,128,128,.18) 60%, rgba(128,128,128,.2));
  color: white;
  font-weight: normal;
  padding: .5em;
  font-size: 1em;
  border: 1px solid #111;
  border-bottom: 0;
}
.dark .ui_accordion>ul>li>.ui_accordion_title:hover {
  background-image: linear-gradient(rgba(128,128,128,.25), rgba(128,128,128,.28) 60%, rgba(128,128,128,.3));
}
.dark .ui_accordion>ul>li>.ui_accordion_content {
  border-left: 1px solid #111;
  border-right: 1px solid #111;
  padding: 0 .5em;
  background: rgba(0,0,0,.1);
}
.dark .ui_accordion>ul>li.state_open>.ui_accordion_title {
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.dark .ui_accordion>ul>li.state_open>.ui_accordion_content {
  padding: .5em .5em;
}
.dark .ui_accordion>ul>li:first-of-type>.ui_accordion_title {
  border-radius: .5em .5em 0 0;
}
.dark .ui_accordion>ul>li:last-of-type>.ui_accordion_title {
  border-radius: 0 0 .5em .5em;
  border-bottom: 1px solid #111;
}
.dark .ui_accordion>ul>li.state_open:last-of-type>.ui_accordion_title {
  border-radius: 0;
}
.dark .ui_accordion>ul>li.state_open:last-of-type>.ui_accordion_content {
  border-radius: 0 0 .5em .5em;
  border-bottom: 1px solid #111;
}

/*
 * ui.window
 */
.dark .ui_window {
  background-color: transparent;
/*
  background-image: -webkit-linear-gradient(top, rgba(64,64,64,.9) 0, rgba(0,0,0,.9) 2.5em);
  background-image: -moz-linear-gradient(top, rgba(64,64,64,.9) 0, rgba(0,0,0,.9) 2.5em);
*/
  border-radius: .5em;
  border: 1px solid #666;
  box-shadow: 1px 1px 10px rgba(0,0,0,1);
  /*box-shadow: 4px 4px 4px rgba(0,0,0,.5);*/
  color: white;
}
.dark .ui_window.orientation_top,
.dark .ui_window.orientation_top.state_active {
  border-top: 0;
}
.dark .ui_window.orientation_bottom,
.dark .ui_window.orientation_bottom.state_active {
  border-bottom: 0;
}
.dark .ui_window.orientation_left,
.dark .ui_window.orientation_left.state_active {
  border-left: 0;
}
.dark .ui_window.orientation_right,
.dark .ui_window.orientation_right.state_active {
  border-right: 0;
}
.dark .ui_window.orientation_bottom.orientation_center {
  border-radius: .5em .5em 0 0;
}
.dark .ui_window.orientation_bottom.orientation_left {
  border-radius: 0 .5em 0 0;
}
.dark .ui_window.orientation_bottom.orientation_right {
  border-radius: .5em 0 0 0;
}

.dark .ui_window:after {
  background: #303030 url(/images/elation/background-dark.png);
  opacity: 0.9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  z-index: -1;
  border-radius: .5em;
}
.dark .ui_window .ui_window_titlebar {
  padding: 0 0 0 .5em;
  border-bottom: 1px solid #666;
  font-size: 1em;
  line-height: 1.8em;
}
.dark .ui_window .ui_window_controls {
  margin: 0 .2em 0 .2em;
}
.dark .ui_window .ui_window_controls .ui_button {
  font-size: .8em;
}
.dark .ui_window.state_active {
  border: 1px solid goldenrod;
}
.dark .ui_window:hover .ui_window_titlebar {
  background: rgba(128,128,128,.1);
}
.dark .ui_window.state_active .ui_window_titlebar {
  background: rgba(225,225,255,.1);
}
.dark .ui_window .ui_window_toolbar {
  padding: 0 .5em;
  background: rgba(128,128,128,.5);
  font-size: 1em;
  box-shadow: 0 2px 5px rgba(0,0,0,.5);
}

/*
 * ui.tabs
 */
.dark .ui_tabs {
}
.dark .ui_tabs>ul {
  color: white;
  border-bottom: 1px solid #1c1e22;
  font-size: .8em;
}
.dark .ui_tabs>ul>li {
  min-width: 5em;
  text-align: center;
  padding: .25em .4em;
  border: 1px solid transparent;
  border-radius: .5em .5em 0 0;
  margin-bottom: -1px;
}
.dark .ui_tabs>ul>li.state_selected {
/*
  background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
*/
  background-image: linear-gradient(rgba(128,128,128,.15), rgba(128,128,128,.18) 60%, rgba(128,128,128,.2));
  background-repeat: no-repeat;

  border: 1px solid #1c1e22;
  border-bottom-color: transparent;
}
.dark .ui_tabs>ul>li.state_hover {
/*
  background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
*/
  background-image: linear-gradient(rgba(128,128,128,.25), rgba(128,128,128,.28) 60%, rgba(128,128,128,.3));
  background-repeat: no-repeat;

  border-color: #1c1e22 #1c1e22 transparent #1c1e22;
}
.dark .ui_tabs>ul>li.state_disabled {
  color: #777;
}

/*
 * ui.input
 */
.dark .ui_input_element,
.dark .ui_select>select {
  color: #272b30;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: .5em;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  line-height: 1.4em;
  padding: .15em .5em;
  outline: 0;
}
.dark .ui_input_element:focus,
.dark .ui_select>select:focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.dark .ui_input_element:disabled,
.dark .ui_select>select:disabled {
  background-color: #ccc;
  color: #666;
}

/*
 * ui.treeview
 */
.dark .ui_treeview ul {
  border-left-color: white;
}
.dark .ui_treeview>ul {
  color: white;
  background: rgba(0,0,0,.1);
  border-radius: .5em;
  border: 1px solid #111;
}
.dark .ui_treeview ul li.state_disabled:before,
.dark .ui_treeview ul li.state_disabled,
.dark .ui_treeview ul li.state_hover li.state_disabled,
.dark .ui_treeview ul li.state_selected li.state_disabled {
  color: #666;
}

.dark .ui_treeview ul li.state_hover,
.dark .ui_treeview ul li.state_selected li.state_hover {
  color: yellow;
  background: rgba(1,1,0,.5);
}
.dark .ui_treeview ul li.state_selected,
.dark .ui_treeview ul li.state_hover li.state_selected {
  color: red;
}
.dark .ui_treeview ul li.state_hover:before,
.dark .ui_treeview ul li.state_selected li.state_hover:before,
.dark .ui_treeview ul li.state_selected:before,
.dark .ui_treeview ul li.state_hover li.state_selected:before,
.dark .ui_treeview ul li.state_selected li:before {
  color: white;
}
.dark .ui_treeview ul li.state_hover li,
.dark .ui_treeview ul li.state_selected li {
  color: white;
  background: transparent;
}

/*
 * ui.list
 */
.dark .ui_list {
  border-radius: .5em;
  border: 1px solid #111;
  background: rgba(0,0,0,.1);
  margin: 0;
  padding: 0;
}
.dark .ui_list>.ui_list_item {
  padding: .2em .5em;
  border-bottom: 1px solid rgba(0,0,0,.2);
}
.dark .ui_list>.ui_list_item:first-of-type {
}
.dark .ui_list>.ui_list_item:last-of-type {
  border-bottom: 0;
}
.dark .ui_list.state_selectable>.ui_list_item:hover {
  background: rgba(128,128,128,.1);
}
.dark .ui_list.state_selectable>.ui_list_item.state_selected {
  background: rgba(128,128,255,.2);
}
.dark .ui_list.state_selectable>.ui_list_item.state_disabled,
.dark .ui_list.state_selectable>.ui_list_item.state_disabled:hover {
  color: #666;
  background: transparent;
}

/*
 * ui.combobox
 */
.dark .ui_combobox .ui_panel .ui_combobox_dropdownbutton {
  border: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 0 .5em .5em 0;
  line-height: .5em;
}
