.light {
  margin: 0;
  padding: 0;
  color: #333;
  background: #efefef url(/images/elation/background.png);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.light #container {
  margin: 0 auto;
  position: relative;
  padding: 1em 2em;
}
.light h1, .light h2, .light h3, .light h4, .light h5 {
  color: black;
}
.light a {
}
/*
 * ui.button 
 */
.light .ui_button {
  border: 1px solid #bbb;
  border-radius: .2em;
  padding: .2em .5em;
  color: black;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.1, rgb(240,240,240)),
    color-stop(0.9, rgb(204,204,204))
  );
  background: -moz-linear-gradient(
    center top,
    rgb(240,240,240) 10%,
    rgb(204,204,204) 90%
  );
}
.light .ui_button:hover {
  border: 1px solid #999;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.1, rgb(250,250,250)),
    color-stop(0.9, rgb(214,214,214))
  );
  background: -moz-linear-gradient(
    center top,
    rgb(250,250,250) 10%,
    rgb(214,214,214) 90%
  );
}
.light .ui_button:active,
.light .ui_button.state_active {
  border: 1px solid #c0c0c0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.1, rgb(214,214,214)),
    color-stop(0.9, rgb(250,250,250))
  );
  background: -moz-linear-gradient(
    center top,
    rgb(214,214,214) 10%,
    rgb(250,250,250) 90%
  );
}


/*
 * ui.list
 */
.light .ui_list {
  border-radius: .5em;
  border: 1px solid #111;
  background: rgba(0,0,0,.1);
  margin: 0;
  padding: 0;
}
.light .ui_list>.ui_list_item {
  padding: .2em .5em;
  border-bottom: 1px solid rgba(0,0,0,.2);
}
.light .ui_list>.ui_list_item:first-of-type {
}
.light .ui_list>.ui_list_item:last-of-type {
  border-bottom: 0;
}
.light .ui_list>.ui_list_item:hover {
  background: rgba(0,0,0,.1);
}
.light .ui_list>.ui_list_item.state_selected {
  background: rgba(0,0,0,.2);
}
/*
 * ui.combobox
 */
.light .ui_combobox .ui_panel .ui_combobox_dropdownbutton {
  border: 0;
  top: 1px;
  right: 1px;
  bottom: 1px;
  border-radius: 0;
  line-height: .5em;
}

/*
 * ui.window
 */
.light .ui_window {
  background-color: transparent;
  border-radius: .5em;
  border: 1px solid #666;
  box-shadow: 1px 1px 10px rgba(0,0,0,1);
}
.light .ui_window:after {
  background: #303030 url(/images/elation/background.png);
  opacity: 0.9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  z-index: -1;
  border-radius: .5em;
}
.light .ui_window .ui_window_titlebar {
  padding: 0 0 0 .5em;
  border-bottom: 1px solid #666;
  font-size: 1em;
  line-height: 1.8em;
}
.light .ui_window .ui_window_controls {
  margin: 0 .2em 0 .2em;
}
.light .ui_window .ui_window_controls .ui_button {
  font-size: .8em;
}
.light .ui_window.state_active {
  border: 1px solid goldenrod;
}
.light .ui_window:hover .ui_window_titlebar {
  background: rgba(128,128,128,.1);
}
.light .ui_window.state_active .ui_window_titlebar {
  background: rgba(128,128,128,.4);
}

