* {
  padding: 0;
  margin: 0;
}
body {
  background: #ccc;
  font-family: sans-serif;
}
.tf_utils_panel_content_item {
  outline:1px dashed black;
  xpadding: .5em;
}
.tf_utils_panel_content.tf_utils_panel_horizontal>li.tf_utils_panel_content_item {
  display: inline-block;
  vertical-align: top;
}
.tf_utils_panel_content.tf_utils_panel_vertical>li.tf_utils_panel_content_item {
  display: block;
}

#dostuff {
  background: white;
  padding: 10px;
  /*margin-left: 15em;*/
  border: 1px solid black;
  box-shadow: 2px 2px 2px #999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 15em;
  overflow: auto;
}
.tf_utils_panel {
  position: relative;
  xbackground: purple;
  xpadding: 10px;
  white-space: nowrap;
  xbackground: cornflowerblue;
}
.tf_utils_panel_slot {
  min-height: 20px;
  border: 1px dashed black;
  padding: 1em;
  xpadding: 1em;
  white-space: normal;
  border-radius: 5px;
  position: relative;
}
.tf_utils_panel_slot.tf_utils_state_droppable {
  /*border: 2px solid yellow;*/
  /* background: #ffca73 !important; */
}
.tf_utils_panel_slot.tf_utils_state_self {
  border: 2px solid lightgreen;
  background: #95ee6b !important;
}
.tf_utils_panel.tf_utils_panel_vertical>.tf_utils_panel_slot {
  xbackground: lightblue;
  display: block;
  
}
.tf_utils_panel.tf_utils_panel_horizontal>.tf_utils_panel_slot {
  xbackground: lightskyblue;
  display: inline-block;
  vertical-align: top;
}
.tf_utils_panel>.tf_utils_panel_slot:hover {
  /*border: 2px solid #900; 
  margin: -1px;*/
  /*background: #fffff0;*/
}
.tf_utils_panel .tf_utils_panel_slot .tf_utils_panel_slot_info {
  position: absolute;
  top: 0;
  right: 0;
  background: #eee;
  opacity: .8;
  padding: .2em .5em;
  border-left: 1px dashed black;
  border-bottom: 1px dashed black;
  font-size: .6em;
  box-shadow: 2px 2px 2px #999;
}
.tf_utils_panel>.tf_utils_panel_slot:hover>.tf_utils_panel_slot_info {
  background: #fcc;
  z-index: 1000;
}
.tf_utils_panel>.tf_utils_panel_slot.tf_utils_state_active {
  background: #ddf;
}
.tf_utils_panel_edit {
  border: 1px solid red;
  position: absolute;
  background: white;
  top: 0;
  right: 0;
  padding: .2em;
  white-space: nowrap;
  display: none;
  z-index: 500;
  border-radius: 5px;
}
.tf_utils_panel_edit button {
  min-width: 1.8em;
  text-align: center;
}
.tf_utils_panel_edit button:hover {
  color: #900;
}
.tf_utils_panel:hover>.tf_utils_panel_edit {
  display: none;
}
#tf_utils_toolkit {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 12.5em;
  width: 15em;
  background: #ccc;
  border-right: 2px solid black;
  box-shadow: 2px 2px 2px #999;
  overflow-y: auto;
  overflow-x: visible;
}
#tf_utils_toolkit .tf_toolkit_contextmenu {
  position: fixed; 
  z-index: 500;
  left: 13em;
  max-height: 100%;
  overflow-y: auto;
  background: #ccc;
  border: 2px solid black;
  white-space: nowrap;
  border-radius: 5px;
  display: none;
  box-shadow: 2px 2px 2px #666;
}
#tf_utils_toolkit .elation_ui_button_draggable:hover .tf_toolkit_contextmenu {
  display: block;
}
.elation_ui_button_draggable {
  display: block;
  padding: .2em;
  border-top: 1px solid blue;
  cursor: move;
}
#tf_utils_toolkit .elation_ui_button_draggable:hover .tf_toolkit_contextmenu .elation_ui_button_draggable:first-child {
  border-top: 0;
}
.elation_ui_button_draggable:hover {
  background: #99c;
}

#toolbox_detail {
  position: fixed;
  bottom: 0;
}
#toolbox_detail ul {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: .2em;
  height: 10em;
  width: 14.5em;;
  overflow-x: hidden;
  overflow-y: auto;
}
#toolbox_detail ul li {
  white-space: nowrap;
}
#toolbox_detail ul li label {
  display: inline-block;
  width: 40%;
}
#toolbox_detail ul li input {
  width: 60%;
  margin-left: -2px;
  margin-right: -1px;
  border: 1px solid black;
}
#toolbox_detail ul li input.state_modified {
  background: #ff9;
  border: 1px solid #660;
}
