form.elation_demos_create ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
form.elation_demos_create label {
  display: inline-block;
  min-width: 8em;
}
form.elation_demos_create textarea {
  display: block;
  width: 60em;
  height: 15em;
}
