#dragsource {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 2px #ccc;
  padding: 2em;
  display: inline-block;
}
#droptarget {
  width: 25em;
  height: 10em;
  border: 2px dashed black;
  text-align: center;
  padding-top: 8%;
  margin: 0 auto;;
}
#droptarget.state_dragover {
}
.droptarget_dropcover {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  opacity: .6;
  pointer-events: none;
  min-height: 5px;
  min-width: 5px;
}
