#flipelements {
  -webkit-perspective: 600px;
}
#flipelements>div {
  position: relative;
  width: 20em;
  padding: 2em;
  vertical-align: top;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #aaa;
  background: white;
}
.html_flippable,
.html_flippable_side2 {
  -webkit-transition: -webkit-transform 350ms ease, opacity 350ms ease;
  -moz-transition: -moz-transform 350ms ease, opacity 350ms ease;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}
.html_flippable.state_flipped {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: matrix(-1,0,0,1,0,0);
  opacity: 0;
}
.html_flippable_side2 {
  -webkit-transform: rotateY(180deg);
  -moz-transform: matrix(-1,0,0,1,0,0);
  opacity: 0;
}
.html_flippable_side2.state_flipped {
  -webkit-transform: rotateY(0deg);
  -moz-transform: matrix(1,0,0,1,0,0);
  opacity: 1;
}

#flipbuttons {
  text-align: center;
}
#flipbuttons div {
  display: inline-block;
}
#flipbuttons button {
  margin: 2em auto;
  display: inline-block;
  height: 2em;
  width: 6em;
}
#flipelements {
  width: 50em;
  margin: 0 auto;
}
