.orm_class {
  font-family: sans-serif;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  background: #ccf;
  padding: .5em;
  position: absolute;
  vertical-align: top;
  margin-right: 1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 2px 2px 5px rgba(0,0,0,.8);
}
.orm_class h2 {
  margin: 0;
  font-size: 1.1em;
}
.orm_class ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.orm_class_properties:before {
  content: 'properties';
  display: block;
  margin-top: .5em;
  border-bottom: 1px solid #aaa;
}
ul.orm_class_properties {
}
.orm_class_property {
  position: relative;
}
.orm_class_property:hover {
  background: rgba(0,0,255,.1);
}
.orm_class_property.state_changed {
  background: #ffc;
}
.orm_class_property_name {
  display: inline-block;
  width: 8em;
  font-size: .6em;
}
.orm_class_property_type {
  display: inline-block;
  width: 8em;
  font-size: .6em;
}
.orm_class_property_type.state_editing {
  background: rgba(0,128,0,.5);
}
.orm_class_property_type select {
  border: 1px solid black;
  padding: 0;
  margin: 0;
  width: 100%;
}
.orm_class_property_name.state_editing {
  background: rgba(128,0,0,.5);
}
.orm_class_property_name input {
  width: 100%;
  border: 1px solid black;
}
.orm_class_property_create {
  margin-top: 1em;
  position: relative;
}
.orm_class_property_create:after {
  -webkit-transition: opacity 5s linear;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '+ add property';
  font-size: .8em;
  text-align: center;
  width: 100%;
  display: block;
  background: #999;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0,0,0,.5);
  opacity: 1;
}
.orm_class_property_create.state_editing:after {
  /* disabled since animation doesn't work (maybe because of innerHTML)
  opacity: 0;
  pointer-events: none;
  */
  display: none;
}
.orm_class_property_create:hover:after {
  background: #6c6;
  color: #030;
}

/* connection spots */
.orm_connector {
  display: inline-block;
  position: absolute;
  width: .4em;
  height: .4em;
  border-radius: .4em;
  opacity: .8;
  cursor: pointer;
}
.orm_connector:hover {
  opacity: 1;
}
.orm_connector.orm_connector_in {
  border: 1px solid #090;
  background: #0f0;
  left: -.8em;
  top: .4em;
}
.orm_connector.orm_connector_in:hover {
  background: #9f9;
}
.orm_connector.orm_connector_out {
  border: 1px solid #009;
  background: #00f;
  right: -.8em;
  top: .25em;
}
.orm_connector.orm_connector_out:hover {
  background: #99f;
}
.orm_connector.orm_connector_any {
  border: 1px solid #099;
  background: #0ff;
  /*
  left: -.8em;
  top: .25em;
  */
}
.orm_connector.orm_connector_any:hover {
  background: #9ff;
}
.orm_class_property_create .orm_connector {
  display: none;
}
.orm_connector.orm_connector_temp {
  visibility: visible;
background: red;
  pointer-events: none;
}

.orm_connector_link {
  position: absolute;
  pointer-events: none;
  margin-top: .125em;
  margin-left: .125em;
  z-index: 1000;
}
