Package: elation
Version: $VERSION
Section: web
Priority: optional
Architecture: all
Depends: php5, smarty, php5-sqlite
Recommends: php5-mysql, php5-memcache, php5-cli, php-apc, phpunit 
Maintainer: James Baicoianu <james@thefind.com>
Description: Elation PHP MVC Framework
  http://github.com/jbaicoianu/elation
