.window.application_irc .window_content,
.window.application_network .window_content {
	padding: .5em .5em;
}
.window.application_login .window_content,
.window.application_admin .window_content {
	background: rgba(120,120,120,.95);
	width: 355px;
	height: 355px;
	padding: 0;
}
.window div.ui_tabs ul {
	border-bottom: 1px inset #aaa;
	padding: .3em .75em 0;
	  font-size: 0.8em;
}
.window div.ui_tabs li {
	background: rgba(255,255,255,.12);
	margin-top: .5em;
	border: 1px outset #999;
	margin-bottom: 1px;
	border-top-right-radius: 4px;
	border-top-left-radius: 2px;
	color: #bbb;
	text-shadow: -1px -1px 1px #333;
	border-bottom: transparent;
  
  min-width: 5em;
  text-align: center;
  padding: .25em .4em;
}
.window div.ui_tabs li.state_selected {
	border: 1px outset #aaa;
	border-bottom: 1px solid #737373;
	text-shadow: 1px 1px 1px #000;
	color: #fff;
	margin-bottom: 0;
}
.window div.ui_tabs li.state_hover {
	background: rgba(255,255,255,.12);
	border-color: #999;
	border-bottom-color: #737373;
}
.window div.ui_tabs {
	background: rgba(0,0,0,.15);
}
.pic_tabs li img {
	width: 640px;
}
.application_login .ui_toggle {
	margin-bottom: 1em;
}
.application_login .ui_toggle label {
	font-size: .9em;
}
.application_login .ui_toggle input {
	margin-right: .4em;
}
.application_login .window_content .ui_input_element {
	width: 12.5em;
}
.window.application_telnet {
	width: 486px;
	height: 618px;
}
.window_content .ui_input.admin_computer {
	margin: .5em 0;
}
.window_content .ui_input.admin_seed {
	margin: .5em 0 0;
}
.window_content .dialog_label {
	position: relative;
	margin: .75em 1.5em 0.1em;
	display: inline-block;
	text-shadow: 1px 1px 1px #000;
	color: #fff;
	font-size: .97em;
}
.window_content .admin_worldfooter .ui_button {
	
}
.window_content .admin_worldfooter {
	margin-top: 1em;
	text-align: right;
}
.window_content .box {
	position: relative;
	margin: 0 .75em 0;
	border-top: 2px groove #999;
	border-radius: 0;
	padding: 1em;
	text-align: right;
	min-width: 300px;
}
.window_content .ui_slider .ui_pegboard_peg {
	background: rgba(0,0,0,.4);
	left: 0;
	height: 100%;
	border-radius: 3px;
}
.window_content .ui_slider .ui_pegboard_peg_grabber {
	right: 0;
	transform: translate(50%,-50%);
	box-shadow: 1px 1px 2px 1px rgba(64,64,64,.5);
	border: 1px outset #ccc;
	background: #666;
}
.window_content .box .ui_slider .ui_slider_track {
	margin-top: .25em;
	border: 1px inset #ccc;
	border-radius: 4px;
}
.window_content .box .ui_slider .ui_pegboard_peg_display {
	margin-top: 1em;
	position: static;
	opacity: 1;
	width: 2.5em;
	text-align: right;
}
.window_content .box .ui_slider label {
	vertical-align: middle;
	margin-right: .5em;
	display: inline-block;
	font-size: .9em;
}
div.window.application_terminal {
	width: 568px;
	height: 380px;
}
div.window.application_terminal .window_content .terminal_response {
	display: inline;
}
div.window.application_terminal div.window_content {
	background: rgba(0,0,0,.9);
	color: #ccc;
  font-family: consolas;
	font-size: 11pt;
}
div.window.application_terminal .window_content .ui_input_element {
	background: transparent;
	border: none;
	box-shadow: none;
	color: white;
	padding: 0;
	height: auto;
	font-family: monospace;
	font-size: 1em;
} 
div.window.application_admin .window_content .admin_colorbox label {
	font-weight: normal;
}
div.window.application_admin .window_content .admin_colorbox {
	height: 6em;
	text-align: center;
}
div.window.application_admin .window_content .admin_colorbox #colorsquare {
	width: 4em;
	height: 2.8em;
	float: none;
	display: inline-block;
	clear: none;
	margin-top: 1.5em;
	background: #000;
	border: 1px inset #aaa;
}
div.window.application_admin .window_content .admin_colorbox .ui_inputslider {
	float: none;
}
div.window.application_admin .window_content .admin_colorbox .ui_inputslider input.ui_input_element {
	height: 1.5em;
}

div.window.application_explorer {
	width: 640px;
	height: 420px;
}
div.fs_buttonbar {
background: rgba(255,255,255,.14);
position: absolute;
height: 2.05em;
top: 0;
left: 0;
right: 0;
padding-top: .25em;
border-bottom: 1px solid #aaa;
}
div.fs_tree {
background: rgba(0,0,0,.33);
position: absolute;
top: 2.3em;
bottom: 0;
left: 0;
right: 67%;
border-right: 2px groove #aaa;
padding: 0;
overflow: hidden;
}
div.tf_tree_container {
position: absolute;
top: 1.75em;
bottom: 0;
left: 0;
right: 0;
padding: .25em;
overflow: auto;
}
div.fs_tree * {
	font-size: 16px;
}
div.fs_sources {
  background: #777;
  height: 1.5em;
  padding: 0 .25em .2em;
}
div.fs_sources .ui_select {
  overflow: hidden;
  margin-right: 1.6em;
}
div.fs_sources .ui_select select {
  width: 100%;
  background: #444;
  color: #ccc;
  border-radius: .2em;
}
.window_content div.fs_sources button.ui_button {
  display: inline-block;
  position: absolute;
  top: 0em;
  right: 0.3em;
  margin: 0;
  padding: 1px .5em;
  box-shadow: none;
  background: transparent;
  text-shadow: 1px 1px #000;
  border: 1px solid transparent;
}
div.fs_content {
background: rgba(0,0,0,.33);
position: absolute;
top: 2.3em;
bottom: 0;
left: 33%;
right: 0;
padding: 0;
overflow: auto;
}
div.fs_content li {
	list-style: none;
	white-space: nowrap;
}
div.fs_content li.column li.header:active {
	background: #666;
	border: 1px inset #aaa;
}
div.fs_content li.column li.header {
	cursor: pointer;
  padding: 3px 0.8em 4px;
  text-shadow: -1px -1px #444;
  color: #ccc;
  font-size: 15px;
  height: 1em;
  border-bottom: 1px dotted #aaa;
  margin: 3px 3px 3px 2px;
}
}
div.fs_content li.column li.entry:hover {
	border-color: #666;
}
div.fs_content li.column li.entry:active {
	background: rgba(0,100,160,.95);
	border-color: #aaa;
}
div.fs_content li.column li {
	border: 1px dotted transparent;
}
div.fs_content li.column li {
	padding: 0 .5em;
	min-height: 1.12em;
}
div.fs_content li.column {
	display: inline-block;
	border-right: 1px dotted #aaa;
	min-width: 40%;
}
div.fs_content li.column.two {
	position: absolute;
	min-width: 59%;
}
div.fs_status {
background: rgba(255,255,255,.14);
position: absolute;
height: 1.6em;
bottom: 0em;
left: 0;
right: 0;
border-top: 1px solid #aaa;
}
div.fs_tree .ui_treeview ul {
	color: inherit;
	background: transparent;
	border: none;
	display: inline-block;
}
div.fs_tree .ui_treeview ul li {
	position: relative;
	white-space: nowrap;
	overflow: visible;
}
div.fs_tree .ui_treeview li ul {
	border-left: 2px dotted #aaa;
	margin-left: 5px;
	padding-left: 7px;
}
.ui_treeview ul li.state_hover span.label {
	text-decoration: underline;
}
.ui_treeview ul li.state_hover li span.label {
	text-decoration: initial;
}
.ui_treeview ul li span.label {
	cursor: pointer;
}
.ui_treeview ul li.state_selected span.label {
	color: #eee;
	background: rgba(0,100,160,.95);
	box-shadow: 0 0 0px 1px #048;
}
.ui_treeview ul li.state_selected ul span.label {
	color: #fff;
	background: initial;
	box-shadow: none;
}
.ui_treeview ul li:before {
	color: #aaa;
}
.ui_treeview ul li.state_hover:before, 
.ui_treeview ul li.state_selected li.state_hover:before, 
.ui_treeview ul li.state_selected:before, 
.ui_treeview ul li.state_hover li.state_selected:before, 
.ui_treeview ul li.state_selected li:before {
	color: #aaa;
}
div.fs_tree .ui_treeview li div.checkbox:before {
	font-size: 15px;
	color: #ccc;
	background: #004;
	width: 12px;
	display: list-item;
	height: 11px;
	line-height: 9px;
	margin-top: 6px;
}
div.fs_tree .ui_treeview li.state_expanded div.checkbox:before {
	content: '⊟';
}
div.fs_tree .ui_treeview li.state_collapsed div.checkbox:before {
	content: '⊞';
}
div.fs_tree .ui_treeview li.state_expanded ul {
	display: block;	
}
div.fs_tree .ui_treeview li.state_collapsed ul {
	display: none;
}
div.fs_tree .ui_treeview li div.checkbox {
position: absolute;
top: -2px;
left: 0px;
color: #fff;
text-shadow: 0px 0px 2px #000;
}

div.window div.fs_buttonbar .apicollection_controls.ui_buttonbar {
	display: inline;
}
div.window div.ui_buttonbar button.ui_button {
}
div.window div.ui_buttonbar button.ui_button,
div.window div.ui_buttonbar>.ui_button:last-of-type,
div.window div.ui_buttonbar>.ui_button:first-of-type {
	background: transparent;
	padding: 0px;
	margin: 2px 0em 0em;
	border: 1px solid transparent;
	border-radius: 50%;
	box-shadow: none;
	color: inherit;
	font-size: 1em;
	width: 1.6em;
	height: 1.6em;
	text-shadow: 1px 1px 1px #000;
	line-height: 1em;
	font-weight: bold;
}
div.window div.ui_buttonbar>.ui_button:first-of-type {
	margin-left: .3em;
}
.window_content div.fs_sources button.ui_button:hover,
div.window div.ui_buttonbar button.ui_button:hover,
div.window div.ui_buttonbar>.ui_button:last-of-type:hover,
div.window div.ui_buttonbar>.ui_button:first-of-type:hover {
color: #f97;
border: 1px outset #aaa;
border-radius: 50%;
background: transparent;
}
.window_content div.fs_sources button.ui_button,
.window_content div.fs_sources button.ui_button:hover,
div.window div.ui_buttonbar>.ui_button:last-of-type,
div.window div.ui_buttonbar>.ui_button:last-of-type:hover {
	border-radius: .2em;
}
.window_content div.fs_sources button.ui_button:active,
div.window div.ui_buttonbar button.ui_button:active,
div.window div.ui_buttonbar>.ui_button:last-of-type:active,
div.window div.ui_buttonbar>.ui_button:first-of-type:active {
border: 1px solid #aaa;
background: rgba(0,0,0,.33);
color: #eee;
}
div.window ul.ui_selectcrumbs button.ui_button,
div.ui_breadcrumbs div.ui_select {
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	transition: all 200ms ease;
}
div.ui_breadcrumbs div.ui_select {
display: inline-block;
padding: 0;
position: relative;
border-left: 2px groove #666;
border-right: 2px groove #666;
height: 100%;
}
div.ui_breadcrumbs div.ui_select select {
background: transparent;
color: white;
height: 2.1em;
border-radius: 3px;
border: none;
-webkit-appearance: none;
-moz-appearance: none;
outline: none;
padding-right: 1em;
width: 1.2em;
}
div.ui_breadcrumbs div.ui_select:active {
	background: rgba(0,100,160,.95);
	color: white;
}
div.ui_breadcrumbs div.ui_select:after {
content: '▶';
top: 0.3em;
pointer-events: none;
position: absolute;
right: 2px;
font-size: 12px;
color: #ccc;
text-shadow: 1px 1px #000;
}
div.ui_breadcrumbs div.ui_select select option {
	background: #666;
	padding-left: 2em;
}
div.fs_buttonbar div.ui_breadcrumbs {
position: absolute;
height: 25px;
margin: 2px 0em;
left: 5.8em;
right: 0.3em;
background: #444;
border: 1px solid #aaa;
border-radius: .2em;
overflow: hidden;
display: inline-block;
}
div.window ul.ui_selectcrumbs {
position: absolute;
top: -1px;
bottom: -1px;
left: 1px;
right: 1px;
white-space: nowrap;
}
div.window ul.ui_selectcrumbs button.ui_button {
background: transparent;
width: auto;
height: 100%;
margin: 0;
padding: 0px 0.25em;
color: #ddd;
font-size: 1em;
text-shadow: 1px 1px #000;
border: 1px solid transparent;
border-radius: 0;
box-shadow: none;
}
div.window ul.ui_selectcrumbs button.ui_button:hover {
	color: #fff;
}
div.window ul.ui_selectcrumbs button.ui_button:active {
border: 1px solid #333;
background: rgba(0,100,160,.95);
color: #fff;
position: relative;
top: 0;
}