/*
 * Structural styles for ui-slider, ui-slider-track, ui-slider-handle.
 */

ui-slider {
  display: inline-block;
  min-width: 8em;
}
ui-slider>ui-slider-track {
  display: inline-block;
  position: relative;
  width: 100%;
  height: .5em;
  margin: .5em 0;
  cursor: pointer;
}
ui-slider-handle {
  display: block;
  position: absolute;
  width: .5em;
  height: 1.2em;
  cursor: pointer;
}
ui-slider-handle>ui-label {
  position: absolute;
  left: 20px;
  z-index: 100;
  pointer-events: none;
  padding: 0 .4em;
}
ui-slider-track[hover] ui-slider-handle>ui-label {
  display: block !important;
}
