/*
 * Structural styles for ui-toggle, ui-checkbox, and ui-radio.
 */

ui-toggle {
  display: flex;
}
ui-toggle>div {
  display: inline-block;
  position: relative;
  width: 2em;
  padding: .5em;
  margin: .2em .8em .2em .4em;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  -ms-user-select: none;
  z-index: 2;
}
ui-toggle[align="left"]>div {
  order: -1;
}
ui-toggle input {
  display: none;
}
ui-toggle span {
  cursor: pointer;
}
ui-toggle>div::before {
  display: block;
  position: absolute;
  top: 2px;
  left: 4px;
  bottom: 2px;
  width: 40%;
  z-index: -1;
  content: '';
}
ui-toggle[checked]>div::before {
  right: 4px;
  left: auto;
  content: '';
}
ui-toggle[disabled]>div,
ui-toggle[disabled] span {
  cursor: not-allowed;
}

ui-checkbox {
  display: flex;
  min-width: 6em;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}
ui-checkbox>input {
  display: inline-block;
  position: relative;
  height: 1em;
  padding: 9px;
  margin-right: .5em;
  vertical-align: middle;
  cursor: pointer;
  -webkit-appearance: none;
}
ui-checkbox[align="left"]>input {
  order: -1;
}
ui-checkbox>input:checked:after {
  content: '\2714';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  vertical-align: middle;
}
ui-checkbox[disabled] {
  cursor: not-allowed;
}
ui-checkbox[disabled]>input {
  pointer-events: none;
}
