ul#tf_debug_log {
  position:static;
  background: #feeeee;
  list-style: none;
  margin: 0;
	clear:both;
	overflow:auto;
  /*border: 1px solid black;*/
}
ul#tf_debug_log li { 
  height: 1%;
	scroll-x: hidden;
  clear: left;
} 
ul#tf_debug_log_jsdebug li { 
  height: 1%;
	scroll-x: hidden;
  clear: left;
} 
ul#tf_debug_log li:after { 
  6content: '.';
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
ul#tf_debug_log_jsdebug li:after { 
  56content: '.';
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
ul#tf_debug_log li address {
  float:left;
  width: 7.5em;
  text-align: right;
  display: block;
  overflow:visible;
  font-size: 8pt;
	overflow: hidden;
}
ul#tf_debug_log code {
  display: block; 
  margin-left: 8em;
  padding-left: 1.5em;
  border-left: 1px solid #000;
  font-size: 8pt;
  text-indent: -1.4em;
  background: #fff;
	white-space: pre;
}
ul#tf_debug_log_jsdebug li address {
  float:left;
  width: 7.5em;
  text-align: right;
  display: block;
  overflow:visible;
  font-size: 8pt;
}
ul#tf_debug_log_jsdebug code { 
  display: block; 
  margin-left: 8em;
  padding-left: 1.5em;
  border-left: 1px solid #000;
  font-size: 8pt;
  text-indent: -1.5em;
  background: #fff;
}
ul#tf_debug_log li.logError { 
  color: #900;
  font-weight: bold;
}
ul#tf_debug_log li.logNotice { 
  color: #090;
}
ul#tf_debug_log li.logWarning { 
  color: goldenRod; /* shut up, goldenrod is awesome */
  font-weight: bold;
}
ul#tf_debug_log li.logDebug { 
  color: #888;
}
#tf_debug_profiler { 
  margin-bottom: 65px;
}
#tf_debug_profiler .timeTotal { 
  text-align: right;
}
#tf_debug_profiler .timePerExecution { 
  text-align: right;
}

/* Debug Console Window */

#tf_window {
  display:none;
  position:fixed;
	overflow: hidden;
  border: 2px solid orange;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-box-shadow: 5px 5px 5px #888;
  -moz-box-shadow: 5px 5px 5px #888;
  background: white;
}
#tf_window_top {
  width:100%;
  height:10px;
}
#tf_window_mid {
  width:100%;
  height:100px;
}
#tf_window_bot {
  width:100%;
  height:10px;
}
#tf_window_tm {
	margin-left: 10px;
	margin-right: 10px;
  height: 10px;
  /*background: url(/images/ui/tfWindow_tm.png) repeat-x top left;*/
}
#tf_window_tl {
  float: left;
  width: 10px;
  height: 10px;
  /*background: url(/images/ui/tfWindow_tl.png) no-repeat top left;*/
}
#tf_window_tr {
  float: right;
  width: 10px;
  height: 10px;
  /*background: url(/images/ui/tfWindow_tr.png) no-repeat top right;*/
}
#tf_window_mm {
	margin-left: 10px;
	margin-right: 10px;
  height: 100%;
  background: #fff;
}
#tf_window_ml {
  float: left;
  width: 10px;
  height: 100%;
  /*background: url(/images/ui/tfWindow_ml.png) repeat-y top left;*/
  background: white;
}
#tf_window_mr {
  float: right;
  width: 10px;
  height: 100%;
  /*background: url(/images/ui/tfWindow_mr.png) repeat-y top right;*/
  background: white;
}
#tf_window_bm {
	margin-left: 10px;
	margin-right: 10px;
	height: 100%;
  /*background: url(/images/ui/tfWindow_bm.png) repeat-x bottom left;*/
}
#tf_window_bl {
  float: left;
  width: 10px;
  height: 100%;
  /*background: url(/images/ui/tfWindow_bl.png) no-repeat bottom left;*/
}
#tf_window_br {
  float: right;
  width: 10px;
  height: 100%;
  /*background: url(/images/ui/tfWindow_br.png) no-repeat bottom right;*/
}
#tf_window_title {
  height: 1.3em;
  background: #eee;
	overflow:hidden;
	cursor: move;
}
#tf_window_titlelabel {
	float:left;
  color: #3285B6;
  font-size: 0.9em;
  font-weight: bold;
  font-family: Arial,sans-serif !important;
  padding-left: 3px;
}
#tf_window_close {
  float: right;
  height: 100%;
  color: #3285B6;
  font-size: 0.9em;
  font-weight: bold;
  font-family: Arial,sans-serif !important;
  padding-right: 18px;
  background: url(/images/ui/tfWindow_close.gif) top right no-repeat;
  cursor: pointer;
}
#tf_window_close:after {
  content: "Close";
}
#tf_window_content {
  height: 100%;
  overflow:hidden;
}
#tf_debug_settings input.overridden {
  background: yellow;
}
