body {
  margin: 0;
  padding: 0;
  color: #404040;
  background: #efefef url(/images/elation/background.png);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#container {
  /* max-width: 50em; */
  margin: 0 auto;
  position: relative;
  padding: 1em 2em;
}
header {
}
header h1 {
  margin: 0 0 0 0;
}
h1 a {
  text-decoration: none;
  color: inherit;
}
h3 {
  margin: 1em 0 0 0;
  border-bottom: 2px solid rgba(0,0,0,.2);
}
.elation_clear_after:after {
  height: 0;
  display: block;
  clear: both;
  content: '.';
  visibility: hidden;
}
a {
  color:#4682b4;
}
a.elation_button_large {
  background-color:#4682b4;
  background-image:-webkit-gradient(linear, left top, left bottom, from(#5fb0f4), to(#4682b4));
  background-image:-webkit-linear-gradient(top, #5fb0f4, #4682b4);
  background-image:-moz-linear-gradient(top, #5fb0f4, #4682b4);
  background-image:-ms-linear-gradient(top, #5fb0f4, #4682b4);
  background-image:-o-linear-gradient(top, #5fb0f4, #4682b4);
  background-image:linear-gradient(top, #5fb0f4, #4682b4);
  border:1px solid #386890;
  color:#fff;
  text-shadow:0 1px 0 #386890;
  padding: 15px 35px;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 2px 2px 4px #999;
}
a.elation_button_large:hover {
  background-color:#4682b4;
  background-image:-webkit-gradient(linear, left top, left bottom, from(#4682b4), to(#4682b4));
  background-image:-webkit-linear-gradient(top, #4682b4, #4682b4);
  background-image:-moz-linear-gradient(top, #4682b4, #4682b4);
  background-image:-ms-linear-gradient(top, #4682b4, #4682b4);
  background-image:-o-linear-gradient(top, #4682b4, #4682b4);
  background-image:linear-gradient(top, #4682b4, #4682b4);
  border:1px solid #386890;
  color:#fff;
  text-shadow:0 1px 0 #386890;
}
a.elation_button_large:active {
  box-shadow: 0 0 0 #999;
  -webkit-transform: translate(2px, 2px);
  -moz-transform: translate(2px, 2px);
  -o-transform: translate(2px, 2px);
  -ie-transform: translate(2px, 2px);
  transform: translate(2px, 2px);
}
code.codeblock {
  display: block;
  white-space: pre-wrap;
  border: 1px solid black;
  background: white;
  padding: 0 1em;
}

/* screen size overrides */
@media all and (max-width: 480px) {
  #container {
    padding: 0;
    margin: 0;
    font-size: .6em;
  }
  #container .elation_navigation {
    padding: 0;
    margin: 0;
  }
  #container .elation_homepage_section {
    padding: 1em .5em;
  }
  #container .elation_homepage_main .panel_left {
    padding: 1em 0;
    margin-right: 0;
    margin: 0 auto;
    text-align: center;
    width: auto;
  }
  #container .elation_homepage_main .panel_right {
    display: none;
  }
  #container .elation_homepage_demos .elation_demo {
    width: auto;
    display: block;
  }
}
