@font-face { /* FIXME - temp placeholder until I get a real image for the homepage */
  font-family: 'Ruthie';
  font-style: normal;
  font-weight: 400;
  src: local('Ruthie'), local('Ruthie-Regular'), url(http://themes.googleusercontent.com/static/fonts/ruthie/v3/Di1LdjRzoaEvDmrQy1l_ww.woff) format('woff');
}

.elation_homepage_section {
  background: white;
  border: 1px solid #d6d6d6;
  border-radius: 6px;
  margin: 1em 0;
  box-shadow: 1px 1px 2px #999;
  position: relative;
  padding: 1em 2em;
}
.elation_homepage_section.elation_homepage_main {
  background: -webkit-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,.5)),
                    white url(/images/elation/homepage-main-medium.png) top right no-repeat;
  background: -moz-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,.5)),
                    white url(/images/elation/homepage-main-medium.png) top right no-repeat;
  background: -ms-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,.5)),
                    white url(/images/elation/homepage-main-medium.png) top right no-repeat;
  background: -o-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,.5)),
                    white url(/images/elation/homepage-main-medium.png) top right no-repeat;
  background: linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,.5)),
                    white url(/images/elation/homepage-main-medium.png) top right no-repeat;
}
/* homepage, main content, left panel */
.elation_homepage_main .panel_left {
  padding: 2em 2em;
  margin-right: 250px;
  text-align: center;
}
.elation_homepage_main .panel_left h1 {
  font-size: 3em;
  letter-spacing: -1px;
  margin: 0;
  color: #404040;
}
.elation_homepage_main .panel_left h2 {
  font-size: 1.6em;
  color: #777;
  margin: .5em 0;
  white-space: nowrap;
}
.elation_homepage_main .panel_left p {
  text-align: center;
  line-height: 1.5em;
}

.elation_homepage_main .panel_left ul {
  text-align: left;
  font-size: .8em;
  margin: 0;
  padding: 0 0 0 2em;
  margin-bottom: 2em;
}
.elation_homepage_main .panel_left ul li {
  padding: .5em 0;
}
/* homepage, main content, right panel */
.elation_homepage_main .panel_right {
  width: 250px;
  padding: 2em 2em;
  position: absolute;
  right: 0;
  top: 0;
}
.elation_homepage_main .panel_right h1 {
  font-family: Ruthie, sans-serif;
  text-align: center;
  font-size: 3.5em;
  font-weight: normal;
}
.elation_homepage_whatis {
  padding: 0 2em;
  line-height: 1.5em;
}
/* homepage, demos */
.elation_homepage_demos {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
.elation_homepage_demos .elation_demo:first-child {
  margin-left: 0;
}
.elation_homepage_demos .elation_demo:last-child {
  margin-right: 0;
}
.elation_homepage_demos .elation_demo {
  background: white;
  margin: 0;
  padding: 0;
  width: 32.5%;
  display: inline-block;
  box-shadow: 1px 1px 2px #999;
  vertical-align: middle;
  -webkit-transform: scale(.9) rotateZ(0deg);
  -webkit-transition: all 100ms ease-out;
  -moz-transform: scale(.9) rotateZ(0deg);
  -moz-transition: all 100ms ease-out;
  -ie-transform: scale(.9) rotateZ(0deg);
  -ie-transition: all 100ms ease-out;
  transform: scale(.9) rotateZ(0deg);
  transition: all 100ms ease-out;
  overflow: hidden;
}
.elation_homepage_demos .elation_demo:hover {
  -webkit-transform: scale(1) rotateZ(2deg);
  -moz-transform: scale(1) rotateZ(2deg);
  -ie-transform: scale(1) rotateZ(2deg);
  transform: scale(1) rotateZ(2deg);
}
.elation_homepage_demos .elation_demo a.elation_demo_link {
  display: block;
  border: 1px solid #d6d6d6;
  width: auto;
  padding: 10px;
  text-decoration: none;
}
.elation_homepage_demos .elation_demo h3 {
  font-size: 1em;
  text-align: left;
  font-weight: normal;
  font-family: verdana, sans-serif; 
  text-transform: uppercase;
  margin: 0;
  padding: .7em 0 0 0;
  color: #999;
  border-bottom: 0;
  vertical-align: middle;
}
.elation_homepage_demos .elation_demo .elation_demo_content {
  width: 100%;
  max-width: 25em;
  height: 180px;
  margin: 0 auto;
  background: #ccc;
  background: rgba(255,255,255,.2);
  display: inline-block;
  vertical-align: middle;
  line-height: 180px;
  overflow: hidden;
  text-align: center;
}
.elation_homepage_demos .elation_demo .elation_demo_content img {
  min-width: 100%;
  min-height: 100%;
  max-width: 400%;
  max-height: 150%;
  vertical-align: middle;
}

.elation_homepage_demos .elation_demo .elation_demo_content {
  background: rgba(255,255,255,.5);
  padding: 2em;
}
.elation_homepage_demos .elation_demo .elation_demo_content {
  padding: 0;
}

/* screen size overrides */
@media all and (max-width: 750px) {
  .elation_homepage_main .panel_left {
    padding: 2em 2em;
    margin-right: 0;
    margin: 0 auto;
    text-align: center;
  }
  .elation_homepage_main .panel_right {
    display: none;
  }
}
