ul.elation_navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color:#585858;
  background-image:-webkit-gradient(linear, left top, left bottom, from(#585858), to(#3d3d3d));
  background-image:-webkit-linear-gradient(top, #585858, #3d3d3d);
  background-image:-moz-linear-gradient(top, #585858, #3d3d3d);
  background-image:-ms-linear-gradient(top, #585858, #3d3d3d);
  background-image:-o-linear-gradient(top, #585858, #3d3d3d);
  background-image:linear-gradient(top, #585858, #3d3d3d);
}
ul.elation_navigation li {
  float: left;
  display: block;
  margin: 0;
  padding: 0;
}
.elation_navigation a {
  display: inline-block;
  height: 3em;
  line-height: 3em;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding: 0 .9em;
  text-decoration: none;
  font-size: .8em;
  font-weight: bold;
  text-shadow: 0 1px 1px #242424;
  border-left: 1px solid #585858;
}
.elation_navigation a:hover {
  background-color:#808080;
  background-image:-webkit-gradient(linear, left top, left bottom, from(#808080), to(#363636));
  background-image:-webkit-linear-gradient(top, #808080, #363636);
  background-image:-moz-linear-gradient(top, #808080, #363636);
  background-image:-ms-linear-gradient(top, #808080, #363636);
  background-image:-o-linear-gradient(top, #808080, #363636);
  background-image:linear-gradient(top, #808080, #363636);
  color:#fff;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#808080, endColorstr=#363636);
}

