body {
  font-family: helvetica;
}
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
div.desktop {
	background: url('/images/desktop/hexabg3.jpg');
}
div.desktop,
ul.windows,
ul.tasks {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
ul.tasks {
	bottom: auto;
	background: rgba(0,0,0,.1);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,.4);
	z-index: 2;
}
ul.tasks li {
	margin: 0;
	box-shadow: 4px 0px 3px 0px rgba(0,0,0,.2);
	background: rgba(255,255,255,.3);
	display: inline-block;
	color: #fff;
	padding: .25em .4em .15em;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	visibility: hidden;
}
ul.icons .hexagon {
-webkit-transform-origin: bottom center;
-moz-transform-origin: bottom center;
transform-origin: bottom center;
-webkit-transform: rotateX(90deg);
-moz-transform: rotateX(90deg);
transform: rotateX(90deg);
-webkit-perspective: 14;
-moz-perspective: 14;
perspective: 14;
-webkit-transition: all 333ms ease;
-moz-transition: all 333ms ease;
transition: all 333ms ease;
pointer-events: none;
}
ul.icons {
  position: relative;
  padding: 0.22em 0.5em 0.5em;
  margin-top: -4.5em;
  z-index: 2;
  font-size: .74em;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  transition: all 200ms ease;
}
ul.icons:hover {
margin-top: 0em;
background: rgba(0,0,0,.25);
box-shadow: 0 0px 3px 0px #000;
z-index: 2000;
}
ul.icons:hover .hexagon {
-webkit-transform: rotateX(0);
-moz-transform: rotateX(0);
transform: rotateX(0);
}
ul.icons li.icon_active.icon_spin div.icon_picture {
	-webkit-transform: rotateY(-720deg);
	-moz-transform: rotateY(-720deg);
	transform: rotateY(-720deg);
	-webkit-transition: transform 0ms ease;
	-moz-transition: transform 0ms ease;
	transition: transform 0ms ease;
}
ul.icons li:active {
	border: 1px dashed #aaa;
	transition: border 100ms ease;
}
ul.icons li.icon_type_WWW div.hexagon.inner::after {
	border-top-color: #B60;
}
ul.icons li.icon_type_WWW div.hexagon.inner::before {
	border-bottom-color: #B60;
}
ul.icons li.icon_type_WWW div.inner {
	background: #B60;
}
ul.icons li.icon_type_API div.hexagon.inner::after,
ul.icons li.icon_type_IMG div.hexagon.inner::after {
	border-top-color: #26984d;
}
ul.icons li.icon_type_API div.hexagon.inner::before,
ul.icons li.icon_type_IMG div.hexagon.inner::before {
	border-bottom-color: #26984d;
}
ul.icons li.icon_type_API div.inner,
ul.icons li.icon_type_IMG div.inner {
	background: #26984d;
}
ul.icons li.icon_type_SYS div.hexagon.inner::after {
	border-top-color: #B00;
}
ul.icons li.icon_type_SYS div.hexagon.inner::before {
	border-bottom-color: #B00;
}
ul.icons li.icon_type_SYS div.inner {
	background: #B00;
}
ul.icons li {
	position: relative;
	border: 1px solid transparent;
	width: 4em;
	display: inline-block;
	text-align: center;
	padding: 0.3em .75em 2.3em;
	cursor: default;
	font-size: .91em;
	margin: .2em;
}
ul.icons li div.icon_picture {
	position: relative;
	margin: 1em auto 1.5em;
	color: rgba(0,0,0,.1);
}
ul.icons li div span {
	font-size: 12pt;
  font-weight: bold;
  text-shadow: #000 -1px -1px 0px;
  font-family: monospace;
  display: block;
  color: #ccc;
}
ul.icons li span.icon_label {
  position: absolute;
  width: 100%;
  left: 0em;
  height: 2.2em;
  color: #fff;
  line-height: 1.15em;
  text-shadow: 0px 1px 3px #000;
  font-size: 9pt;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hexagon {
  background: #222;
  width: 4em;
  height: 2.2em;
}
.hexagon.inner {
	background: #365d98;
  font-size: .9em;
  z-index: 1;
  top: 1px;
  left: 0px;
}
.hexagon::before {
  position: absolute;
  content: "";
  top: -1.1em;
  left: 0;
  border: 2em solid rgba(0,0,0,0);
  border-top: 0 solid;
  border-bottom: 1.15em solid #222;
}
.hexagon.inner::before {
  border-bottom: 1.15em solid #365d98;
}
.hexagon::after {
  position: absolute;
  content: "";
  bottom: -1.1em;
  left: 0;
  border: 2em solid rgba(0,0,0,0);
  border-top: 1.15em solid #222;
  border-bottom: 0 solid;
}
.hexagon.inner::after {
  border-top: 1.15em solid #365d98;
}
div.ui_example_infobox {
	width: 8em;
	height: 4em;
}

body .animation_fade {
	pointer-events: none;
	opacity: 0;
}
body .animation_expand {
	pointer-events: none;
	opacity: 0;
	transform: scale(.85,.85);
}
body .animation_contract {
	pointer-events: none;
	opacity: 0;
	transform: scale(1.15,1.15);
}
body .animation_slide_right {
	pointer-events: none;
	opacity: 0;
	transform: translateX(100%);
}
body .animation_slide_left {
	pointer-events: none;
	opacity: 0;
	transform: translateX(-100%);
}
body .animation_slide_up {
	pointer-events: none;
	opacity: 0;
	transform: translateY(-100%);
}
body .animation_slide_down {
	pointer-events: none;
	opacity: 0;
	transform: translateY(100%);
}