<ifModule mod_rewrite.c>
  RewriteEngine On

  # Handle mod_userdir as cleanly as possible.  This only works for the default
  # Apache settings - if you've customized them, you may need to modify the regex
  RewriteCond %{REQUEST_FILENAME} /([^/]+)/public_html/(.*?)/index.php$
  RewriteBase /~%1/%2

  # Pass off immediately to Elation for all URLs under the Elation web root, 
  # unless the file already exists.  The second RewriteCond includes special 
  # handling for the case where the user is running Elation out of /~user/ 
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule .* index.php [QSA]
</ifModule>

